.message{style: "background-image: url(/images/sample16.jpeg);"}
  .message__upper-info
    - @messages.each do |message|
      .message-box
        .message-head
          - if message.user.image.present?
            = image_tag message.user.image.url,class: "person-icon", size: "64x64"
          - else
            = fa_icon 'user-circle',class: "person"
          %p.message-talker
            = message.user.name
            -# @messages.user.nameは配列に対してのuserは誰？ってエラーが出てる
          %p.message-date
            = message.created_at.strftime("%Y年/%m月/%d日 %H時%M分")
        %p.message-text
          %p.message-content
            = message.content
          = image_tag message.image.url , class: 'lower-message__image' if message.image.present?
  .joint-door
    = link_to edit_category_group_path, class:'join-group' do
      = fa_icon 'bookmark', class:'door-open'
  .form
    = form_for([@category,@group,@message]) do |f|
      .form__new_message
        .form__new_message__input-box
          = f.text_field :content, placeholder: 'メッセージを入力してください（誹謗・中傷の報告があった場合、強制退会となる可能性がありますのでご注意ください）', cols: "20", row:"3", wrap: "hard"
          = f.label :image, class: "image-label" do
            = fa_icon 'picture-o'
            = f.file_field :image, class: "image-file"
          %label
            = f.submit 'send', class: "submit"
            = fa_icon 'paper-plane', class: "submit-btn"
= render partial: "shared/footer"

