.main-right
  %h2.check
    本人情報の編集
  .main_form
    = form_for [@user] do |f|
      .form_box
        = f.label "プロフィール画像"
        %span.free 任意
        = fa_icon 'user-circle',class: "person"
        -# = f.text_field :image, class: 'form_box__input', placeholder: ''
      .form_box
        = f.label "お名前"
        %span.abso 必須
        = f.text_field :name, class: 'form_box__input'
      = f.submit "登録する", class: "form_submit"
= render partial: "shared/footer"