!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hobbinity
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"}
  %body
    .user-popup
      .userpop-content
        %p ここをクリックすると、現在参加しているグループの一覧が表示されます
        %button#user-close OK
    .group-popup
      .grouppop-content
        %p ここをクリックすると、様々な趣味カテゴリーの一覧が表示されます
        %button#group-close OK
    .edit-popup
      .editpop-content
        %p ここをクリックすると、ご自身のプロフィールなどの編集ができます
        %button#edit-close OK
    %header.header
      .header__bar
        - if user_signed_in?
          = link_to root_path , class:"header__bar__left", id:"" do
            = fa_icon 'user'
            =current_user.name
            さん
          = link_to destroy_user_session_path, class:"header__bar__right", method: :delete do
            ログアウト
            = fa_icon 'sign-out'
        - else
          .header__bar__left
            Hobbinity
      - if flash.notice.present?
        .alert.alert-success= flash.notice
    = yield